body{
    background-color: #A8A8A8;
    font-family: 'Roboto', sans-serif;
  }
  
  .container{
    /*border:1px solid white;*/
    width: 600px;
    height: 350px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: inline-flex; 
  }
  .backbox{  
    background-color: #404040;
    width: 100%;
    height: 80%;
    position: absolute;
    transform: translate(0,-50%);
    top:50%;
    display: inline-flex;
  }
  
  .frontbox{
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right:0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right .8s ease-in-out;
  }
  
  .moving{
    right:45%;
  }
  
  .loginMsg, .signupMsg{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .loginMsg .title,
  .signupMsg .title{
    font-weight: 300;
    font-size: 23px;
  }
  
  .loginMsg p,
  .signupMsg p {
    font-weight: 100;
  }
  
  .textcontent{
    color:white;
    margin-top:65px;
    margin-left: 12%;
  }
  
  .loginMsg button,
  .signupMsg button {
    background-color: #404040;
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding:10px;
    margin-top: 20px;
  }
  
  /* front box content*/
  .login, .signup{
    padding: 20px;
    text-align: center;
  }
  
  .login h2,
  .signup h2 {
    color: #90989e;
    font-size:22px;
  }
  
  .inputbox{
    margin-top:30px; 
  }
  .login input, 
  .signup input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom:20px;
    font-size: 12px;
  }
  
  .login button,
  .signup button{
    background-color: #90989e;
    border: none;
    color:white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding:10px;
    border-radius: 10px;
    width: 60px;
    position: absolute;
    right:30px;
    bottom: 30px;
    cursor: pointer;
  }
  
  /* Fade In & Out*/
  .login p {
    cursor: pointer;
    color:#404040;
    font-size:15px;
  }
  
  .loginMsg, .signupMsg{
    /*opacity: 1;*/
    transition: opacity .8s ease-in-out;
  }
  
  .visibility{
    opacity: 0;
  }
  
  .hide{
    display: none;
  }
  .checkbox-wrapper-4{
    display: flex;
    justify-items: left;
  }
   .checkbox-wrapper-4 * {
              box-sizing: border-box;
            }
            .checkbox-wrapper-4 .cbx {
              -webkit-user-select: none;
              user-select: none;
              cursor: pointer;
              padding: 6px 8px;
              border-radius: 6px;
              overflow: hidden;
              transition: all 0.2s ease;
              display: inline-block;
            }
            .checkbox-wrapper-4 .cbx:not(:last-child) {
              margin-right: 6px;
            }
            .checkbox-wrapper-4 .cbx:hover {
              background: rgba(0,119,255,0.06);
            }
            .checkbox-wrapper-4 .cbx span {
              float: left;
              vertical-align: middle;
              transform: translate3d(0, 0, 0);
            }
            .checkbox-wrapper-4 .cbx span:first-child {
              position: relative;
              width: 18px;
              height: 18px;
              border-radius: 4px;
              transform: scale(1);
              border: 1px solid #cccfdb;
              transition: all 0.2s ease;
              box-shadow: 0 1px 1px rgba(0,16,75,0.05);
            }
            .checkbox-wrapper-4 .cbx span:first-child svg {
              position: absolute;
              top: 3px;
              left: 2px;
              fill: none;
              stroke: #fff;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: 16px;
              stroke-dashoffset: 16px;
              transition: all 0.3s ease;
              transition-delay: 0.1s;
              transform: translate3d(0, 0, 0);
            }
            .checkbox-wrapper-4 .cbx span:last-child {
              padding-left: 8px;
              line-height: 18px;
            }
            .checkbox-wrapper-4 .cbx:hover span:first-child {
              border-color: #07f;
            }
            .checkbox-wrapper-4 .inp-cbx {
              position: absolute;
              visibility: hidden;
            }
            .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
              background: #07f;
              border-color: #07f;
              animation: wave-4 0.4s ease;
            }
            .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
              stroke-dashoffset: 0;
            }
            .checkbox-wrapper-4 .inline-svg {
              position: absolute;
              width: 0;
              height: 0;
              pointer-events: none;
              user-select: none;
            }
            @media screen and (max-width: 640px) {
              .checkbox-wrapper-4 .cbx {
                width: 100%;
                display: inline-block;
              }
            }
            @-moz-keyframes wave-4 {
              50% {
                transform: scale(0.9);
              }
            }
            @-webkit-keyframes wave-4 {
              50% {
                transform: scale(0.9);
              }
            }
            @-o-keyframes wave-4 {
              50% {
                transform: scale(0.9);
              }
            }
            @keyframes wave-4 {
              50% {
                transform: scale(0.9);
              }
            }
  